<%- include('../partials/header.ejs') %>

    <!-- Banner -->
    <h1 class="display-5 fw-bold"
        style="text-align: left; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2c2e31; font-size: 35px;  color: rgb(255, 255, 255); padding: 20px 20px;">
        &nbsp;Select Seats</h1>
    <!-- End of Banner -->

    <!-- Reservation Form -->
    <form action="/reserve/<%= Session._id %>" method="POST">
        <div class="container-fluid px-3" style="height: 100%;">
            <div class="row">
                <div class="col mt-5 mb-5 mx-5 seat-block">
                    <!-- Screen -->
                    <div class="container-fluid screen"></div>
                    <h5
                        style="text-align: center; background-color: rgba(151, 137, 141, 0.356); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ; border: 2px solid; width: 1400px; height: auto;">
                        Screen</h5>
                    <!-- End of Screen -->

                    <!-- Seat -->
                    <center>
                        <!-- Row A -->
                        <div class="row mb-3" style="padding-top: 25px; padding: 50px;">
                            <div class="col-2">
                                <% if ( Session.seats.includes('A1') ) { %>
                                    <button type="button" class="seat-button" onclick="reserve('A1')">
                                        <img class="seat" id="A1" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type='hidden' name="A1" id="iA1" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('A2') ) { %>
                                    <button type="button" class="seat-button" name="A2" value="n"
                                        onclick="reserve('A2')">
                                        <img class="seat" id="A2" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="A2" id="iA2" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('A3') ) { %>
                                    <button type="button" class="seat-button" name="A3" value="n"
                                        onclick="reserve('A3')">
                                        <img class="seat" id="A3" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="A3" id="iA3" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('A4') ) { %>
                                    <button type="button" class="seat-button" name="A4" value="n"
                                        onclick="reserve('A4')">
                                        <img class="seat" id="A4" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="A4" id="iA4" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('A5') ) { %>
                                    <button type="button" class="seat-button" name="A5" value="n"
                                        onclick="reserve('A5')">
                                        <img class="seat" id="A5" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="A5" id="iA5" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('A6') ) { %>
                                    <button type="button" class="seat-button" name="A6" value="n"
                                        onclick="reserve('A6')">
                                        <img class="seat" id="A6" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="A6" id="iA6" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                        </div>
                        <!-- End of Row A -->

                        <!-- Row B -->
                        <div class="row" style="padding-top: 25px; padding: 50px;">
                            <div class="col-2">
                                <% if ( Session.seats.includes('B1') ) { %>
                                    <button type="button" class="seat-button" name="B1" value="n"
                                        onclick="reserve('B1')">
                                        <img class="seat" id="B1" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B1" id="iB1" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('B2') ) { %>
                                    <button type="button" class="seat-button" name="B2" value="n"
                                        onclick="reserve('B2')">
                                        <img class="seat" id="B2" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B2" id="iB2" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('B3') ) { %>
                                    <button type="button" class="seat-button" name="B3" value="n"
                                        onclick="reserve('B3')">
                                        <img class="seat" id="B3" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B3" id="iB3" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('B4') ) { %>
                                    <button type="button" class="seat-button" name="B4" value="n"
                                        onclick="reserve('B4')">
                                        <img class="seat" id="B4" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B4" id="iB4" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('B5') ) { %>
                                    <button type="button" class="seat-button" name="B5" value="n"
                                        onclick="reserve('B5')">
                                        <img class="seat" id="B5" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B5" id="iB5" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('B6') ) { %>
                                    <button type="button" class="seat-button" name="B6" value="n"
                                        onclick="reserve('B6')">
                                        <img class="seat" id="B6" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="B6" id="iB6" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                        </div>
                        <!-- End of Row B -->

                        <!-- Row C -->
                        <div class="row" style="padding-top: 25px; padding: 50px;">
                            <div class="col-2">
                                <% if ( Session.seats.includes('C1') ) { %>
                                    <button type="button" class="seat-button" name="C1" value="n"
                                        onclick="reserve('C1')">
                                        <img class="seat" id="C1" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C1" id="iB1" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('C2') ) { %>
                                    <button type="button" class="seat-button" name="C2" value="n"
                                        onclick="reserve('C2')">
                                        <img class="seat" id="C2" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C2" id="iC2" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('C3') ) { %>
                                    <button type="button" class="seat-button" name="C3" value="n"
                                        onclick="reserve('C3')">
                                        <img class="seat" id="C3" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C3" id="iC3" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('C4') ) { %>
                                    <button type="button" class="seat-button" name="C4" value="n"
                                        onclick="reserve('C4')">
                                        <img class="seat" id="C4" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C4" id="iC4" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.jpg" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('C5') ) { %>
                                    <button type="button" class="seat-button" name="C5" value="n"
                                        onclick="reserve('C5')">
                                        <img class="seat" id="C5" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C5" id="iC5" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                            <div class="col-2">
                                <% if ( Session.seats.includes('C6') ) { %>
                                    <button type="button" class="seat-button" name="C6" value="n"
                                        onclick="reserve('C6')">
                                        <img class="seat" id="C6" src="/images/reserve/seat.jpg" width="50px"
                                            height="50px">
                                        <input type="hidden" name="C6" id="iC6" value="n">
                                    </button>
                                    <% } else { %>
                                        <img class="seat" src="/images/reserve/seat.png" style="opacity: 0.1;"
                                            width="50px" height="50px">
                                        <% } %>
                            </div>
                        </div>
                        <!-- End of Row C -->
                    </center>
                    <!-- End of Seat -->
                    <br />
                    <h5 style="bottom: 0; right: 10px; position: absolute;">Price 1 Seat = 120 Baht</h5>
                </div>

                <!-- Reservation -->

                <div class="col-4 pt-5" style="padding: 250px;">
                    <div class="container-fluid pt-3 row"
                        style="height: 275px;background-color: rgba(104, 94, 97, 0.356); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ; border: 2px solid; width: 1000px; height: auto;">
                        <img class="col-5 mt-3" src="<%= Movies.image %>" style="height: 500px; padding-bottom: 30px;">
                        <div class="col mt-3">
                            <h3>
                                <%= Movies.name %>
                            </h3>
                            <h5 class="desc">Runtime : &nbsp; <%= Movies.runtime %>
                            </h5>
                            <h5 class="desc">Cinema : &nbsp; <%= Cinemas.name %>
                            </h5>
                            <h5 class="desc">Theater : &nbsp; <%= Session.theater %>
                            </h5>
                            <h5 class="desc">Date : &nbsp; <%= Session.date %>&emsp;</h5>
                            <h5 class="desc">Showtime : &nbsp; <%= Session.time %>&emsp;</h5>
                            <h5>Seat : <span id="seat"></span></h5>
                            <h5>Price : <span id="price"></span> Baht</h5>
                            <div style="position: relative; height: 80px;">
                                <button id="submit" type="submit" class="btn btn-primary seat-submit">Buy
                                    Ticket</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Reservation -->
            </div>
        </div>
        <input type="hidden" name="reserve[date]" value="<%= Session.date %>">
        <input type="hidden" name="reserve[time]" value="<%= Session.time %>">
        <input type="hidden" name="reserve[theater]" value="<%= Session.theater %>">
        <input type="hidden" name="reserve[moviesName]" value="<%= Movies.name %>">
        <input type="hidden" name="reserve[moviesImage]" value="<%= Movies.image %>">
        <input type="hidden" name="reserve[cinemaName]" value="<%= Cinemas.name %>">
        <input type="hidden" name="reserve[cinemaImage]" value="<%= Cinemas.logo %>">
    </form>
    <!-- End of Reservation Form -->

    <script>
        var price = 0; seat = 0;
        document.getElementById("seat").innerHTML = seat;
        document.getElementById("price").innerHTML = price;
        if (seat > 0) {
            document.getElementById('submit').disabled = false;
        }
        else if (seat == 0) {
            document.getElementById('submit').disabled = true;
        }
        function reserve(selectedSeat) {
            if (document.getElementById('i' + selectedSeat).value == 'n') {
                document.getElementById(selectedSeat).style.opacity = '0.5';
                document.getElementById('i' + selectedSeat).value = 'y';
                seat += 1;
                price += 120;
                document.getElementById("seat").innerHTML = seat;
                document.getElementById("price").innerHTML = price;
            }
            else if (document.getElementById('i' + selectedSeat).value == 'y') {
                document.getElementById(selectedSeat).style.opacity = '1';
                document.getElementById('i' + selectedSeat).value = 'n';

                seat -= 1;
                price -= 120;
                document.getElementById("seat").innerHTML = seat;
                document.getElementById("price").innerHTML = price;
            }
            if (seat > 0) {
                document.getElementById('submit').disabled = false;
            }
            else if (seat == 0) {
                document.getElementById('submit').disabled = true;
            }
        }
    </script>

    <%- include('../partials/footer.ejs') %>
        © 2021 GitHub, Inc.