        <%- include('../partials/header.ejs') %>

        <% var weekday=new Array(7), month=new Array(12); %>
        <% weekday[0]="Sun" , weekday[1]="Mon" , weekday[2]="Tues" , weekday[3]="Wed" , weekday[4]="Thurs" ,
        weekday[5]="Fri" , weekday[6]="Sat" ; %>
        <% month[0]="Jan" , month[1]="Feb" ,month[2]="Mar" , month[3]="Apr" , month[4]="May" , month[5]="June" ,
        month[6]="July" , month[7]="Aug" , month[8]="Sept" , month[9]="Oct" , month[10]="Nov" , month[11]="Dec"
        ; %>

        <% var Time1=new Date() %>

        <% var Time2=new Date(Time1) %>
        <% Time2.setDate(Time2.getDate() + 1) %>

        <% var Time3=new Date(Time2) %>
        <% Time3.setDate(Time3.getDate() + 1) %>

        <% var Time4=new Date(Time3) %>
        <% Time4.setDate(Time4.getDate() + 1) %>

        <% var Time5=new Date(Time4) %>
        <% Time5.setDate(Time5.getDate() + 1) %>

        <% var Time6=new Date(Time5) %>
        <% Time6.setDate(Time6.getDate() + 1) %>

        <% var Day1=Time1.getDay(), Month1=Time1.getMonth(),Date1=Time1.getDate(); %>
        <% var D1=weekday[Day1] + ' ' + Date1 + ' ' +month[Month1]; %>

        <% var Day2=Time2.getDay(), Month2=Time2.getMonth(),Date2=Time2.getDate(); %>
        <% var D2=weekday[Day2] + ' ' + Date2 + ' ' +month[Month2]; %>

        <% var Day3=Time3.getDay(),Month3=Time3.getMonth(),Date3=Time3.getDate(); %>
        <% var D3=weekday[Day3] + ' ' + Date3+ ' ' + month[Month3]; %>

        <% var Day4=Time4.getDay(),Month4=Time4.getMonth(),Date4=Time4.getDate(); %>
        <% var D4=weekday[Day4] + ' ' +Date4 + ' ' + month[Month4];%>

        <% var Day5=Time5.getDay(),Month5=Time5.getMonth(),Date5=Time5.getDate();%>
        <% var D5=weekday[Day5]+ ' ' + Date5 + ' '+ month[Month5]; %>

        <% var Day6=Time6.getDay(),Month6=Time6.getMonth(),Date6=Time6.getDate();%>
        <% var D6=weekday[Day6]+ ' ' +Date6 + ' ' +month[Month6];%>

                <!-- Banner -->
                <h1 class="display-5 fw-bold"
                    style="text-align: left; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2c2e31; font-size: 35px;  color: rgb(255, 255, 255); padding: 20px 20px;">
                    &nbsp;Select Showtime
                </h1>
                <!-- ------- Theater 1 ------- -->
                <form action="/session/<%= Cinemas.id %>/<%= Movies.id %>" method="POST">
                    <div class="container-fluid px-1 pt-3"
                        style="height: 70px; "
                        align="right">
                        <h4>
                            &emsp;
                            <select class="btn btn-dark" onchange="check(this.value)" id="selectDay" name="session[date]" id="day" required style="font-size: 20px;">
                                <option name="session[date]" value="<%= D1 %>"><%= D1 %></option>
                                <option name="session[date]" value="<%= D2 %>"><%= D2 %></option>
                                <option name="session[date]" value="<%= D3 %>"><%= D3 %></option>
                                <option name="session[date]" value="<%= D4 %>"><%= D4 %></option>
                                <option name="session[date]" value="<%= D5 %>"><%= D5 %></option>
                                <option name="session[date]" value="<%= D6 %>"><%= D6 %></option>
                            </select>
                            &emsp;
                        </h4>
                    </div>

                    <!-- End of Banner -->

                    <div class="container-fluid d-flex flex-row "
                        style=" background-color: rgba(151, 137, 141, 0.356); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ; border: 2px solid; width: 1000px; height: auto;">
                        &emsp;
                        <div class="col-3"
                            style="padding-left: 100px;">
                            <img src="<%= Movies.image %>"
                                height="350px"
                                width="250px"
                                style="display: inline-block; padding: 15px;">
                        </div>
                        <div class="col container-fluid"
                            style="height: 100%;">
                            <br />
                            <div class="row mb-3"
                                style="padding-left: 200px;">
                                <h5
                                    class="sessionMoviesTemplate">
                                    Name
                                    :
                                    <%= Movies.name
                                        %>
                                </h5>
                            </div>
                            <div class="row mb-3"
                                style="padding-left: 200px;">
                                <h5
                                    class="sessionMoviesTemplate">
                                    Genre
                                    :
                                    <%= Movies.genre
                                        %>
                                </h5>
                            </div>
                            <div class="row mb-3"
                                style="padding-left: 200px;">
                                <h5
                                    class="sessionMoviesTemplate">
                                    Runtime
                                    :
                                    <%= Movies.runtime
                                        %>
                                </h5>
                            </div>
                            <div class="row mb-3"
                                style="padding-left: 200px;">
                                <h5
                                    class="sessionMoviesTemplate">
                                    Description
                                    :
                                    <%= Movies.desc
                                        %>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <br />
                    <hr>
                    <br />
                    
                    <div class="row mb-3"
                        style="padding-left: 200px;">
                        <h1
                            class="sessionMoviesTemplate">
                            Cinemas
                            :
                            <%= Cinemas.name
                                %>
                        </h1>
                    </div>
                    <br />


                    <div class="container-fluid"
                        style="height: 120px; padding-left: 300px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ;">
                        <div
                            class="row">
                            <div class="col container-fluid"
                                style="height: 120px; position: relative;">
                                <h3
                                    class="center">
                                    Theater
                                    1
                                    :
                                </h3>
                            </div>
                            <div
                                class="col-10 pt-3 px-5">
                                <button
                                    id="10"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="10:00">10:00</button>
                                <button
                                    id="14"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="14:00">14:00</button>
                                <button
                                    id="16"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="16:00">16:00</button>
                                <button
                                    id="20"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="20:00">20:00</button>
                            </div>
                        </div>
                    </div>
                    <input
                        type="hidden"
                        name="session[theater]"
                        value="1">
                </form>
                <!-- ------- End of Theater 1 ------- -->

                <!-- ------- Theater 2 ------- -->
                <form
                    action="/session/<%= Cinemas.id %>/<%= Movies.id %>"
                    method="POST">
                    <div class="container-fluid"
                        style="height: 120px;   padding-left: 300px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ;">
                        <div
                            class="row">
                            <div class="col container-fluid"
                                style="height: 120px;">
                                <h3
                                    class="center">
                                    Theater
                                    2
                                    :
                                </h3>
                            </div>
                            <div
                                class="col-10 pt-3 px-5">
                                <button
                                    id="13"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="13:00">13:00</button>
                                <button
                                    id="18"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="18:00">18:00</button>

                            </div>
                        </div>
                    </div>
                    <input
                        type="hidden"
                        name="session[theater]"
                        value="2">
                </form>
                <!-- ------- End of Theater 2 ------- -->

                <!-- ------- Theater 3 ------- -->
                <form
                    action="/session/<%= Cinemas.id %>/<%= Movies.id %>"
                    method="POST">
                    <div class="container-fluid"
                        style="height: 120px;   padding-left: 300px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #2c2e31 ;">
                        <div
                            class="row">
                            <div class="col container-fluid"
                                style="height: 120px;">
                                <h3
                                    class="center">
                                    Theater 3:
                                </h3>
                            </div>
                            <div
                                class="col-10 pt-3 px-5">
                                <button
                                    id="11"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="11:00">11:00</button>
                                <button
                                    id="15"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="15:00">15:00</button>
                                <button
                                    id="19"
                                    type="submit"
                                    name="session[time]"
                                    class="sessionTimeButton"
                                    value="19:00">19:00</button>
                            </div>
                        </div>
                    </div>
                    <input
                        type="hidden"
                        name="session[theater]"
                        value="3">
                </form>
                <!-- ------- End of Theater 3 ------- -->


                <script>
                    var weekday = new Array(7), month = new Array(12);
                    weekday[0] = "Sun", weekday[1] = "Mon", weekday[2] = "Tues", weekday[3] = "Wed", weekday[4] = "Thurs", weekday[5] = "Fri", weekday[6] = "Sat";
                    month[0] = "Jan", month[1] = "Feb", month[2] = "Mar", month[3] = "Apr", month[4] = "May", month[5] = "June", month[6] = "July", month[7] = "Aug", month[8] = "Sept", month[9] = "Oct", month[10] = "Nov", month[11] = "Dec";
                    var currentTime = new Date();
                    var hours = currentTime.getHours(), minutes = currentTime.getMinutes();
                    var todayDay = currentTime.getDay(), todayMonth = currentTime.getMonth(), todayDate = currentTime.getDate();
                    var today = weekday[todayDay] + ' ' + todayDate + ' ' + month[todayMonth];
                    var selectDay = document.getElementById("selectDay").value;
                    if (today == selectDay) {
                        if (hours == 10 && minutes > 30 || hours > 10) {
                            document.getElementById("10").disabled = true;
                        }
                        if (hours == 11 && minutes > 30 || hours > 11) {
                            document.getElementById("11").disabled = true;
                        }
                        if (hours >= 12 && minutes > 30 || hours > 12) {
                            document.getElementById("12").disabled = true;
                        }
                        if (hours >= 14 && minutes > 30 || hours > 14) {
                            document.getElementById("14").disabled = true;
                        }
                        if (hours == 15 && minutes > 30 || hours > 15) {
                            document.getElementById("15").disabled = true;
                        }
                        if (hours >= 17 && minutes > 30 || hours > 17) {
                            document.getElementById("17").disabled = true;
                        }
                        if (hours >= 18 && minutes > 30 || hours > 18) {
                            document.getElementById("18").disabled = true;
                        }
                        if (hours == 19 && minutes > 30 || hours > 19) {
                            document.getElementById("19").disabled = true;
                        }
                        if (hours >= 20 && minutes > 30 || hours > 20) {
                            document.getElementById("20").disabled = true;
                        }
                    }
                    function check(checkSelectDay) {
                        if (today == checkSelectDay) {
                            if (hours >= 10 && minutes > 30 || hours > 10) {
                                document.getElementById("10").disabled = true;
                            }
                            if (hours == 11 && minutes > 30 || hours > 11) {
                                document.getElementById("11").disabled = true;
                            }
                            if (hours >= 12 && minutes > 30 || hours > 12) {
                                document.getElementById("12").disabled = true;
                            }
                            if (hours >= 14 && minutes > 30 || hours > 14) {
                                document.getElementById("14").disabled = true;
                            }
                            if (hours == 15 && minutes > 30 || hours > 15) {
                                document.getElementById("15").disabled = true;
                            }
                            if (hours >= 17 && minutes > 30 || hours > 17) {
                                document.getElementById("17").disabled = true;
                            }
                            if (hours >= 18 && minutes > 30 || hours > 18) {
                                document.getElementById("18").disabled = true;
                            }
                            if (hours == 19 && minutes > 30 || hours > 19) {
                                document.getElementById("19").disabled = true;
                            }
                            if (hours >= 20 && minutes > 30 || hours > 20) {
                                document.getElementById("20").disabled = true;
                            }

                        } else if (today != checkSelectDay) {
                            document.getElementById("10").disabled = false;
                            document.getElementById("11").disabled = false;
                            document.getElementById("12").disabled = false;
                            document.getElementById("14").disabled = false;
                            document.getElementById("15").disabled = false;
                            document.getElementById("17").disabled = false;
                            document.getElementById("18").disabled = false;
                            document.getElementById("19").disabled = false;
                            document.getElementById("20").disabled = false;

                        }
                    }
                </script>

                <%- include('../partials/footer.ejs') %>