<%- include('../partials/header.ejs') %>

 

  <h3 class="display-5 fw-bold"
    style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2c2e31; color: rgb(255, 255, 255); padding: 20px;">
    Edit Movies</h3>
  <form action="/movie/<%= Movies._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="container-fluid" style="height: 100%; width: 100%;">
      <div class="container-fluid mt-5 mb-5" style="width: 800px;">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="movies[name]" placeholder="<%= Movies.name %>"
              value="<%= Movies.name %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Desc :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="movies[desc]" placeholder="<%= Movies.desc %>"
              value="<%= Movies.desc %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Genre :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="movies[genre]" placeholder="<%= Movies.genre %>"
              value="<%= Movies.genre %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Runtime :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="movies[runtime]" placeholder="<%= Movies.runtime %>"
              value="<%= Movies.runtime %>">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Score :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="movies[score]" placeholder="<%= Movies.score %>"
              value="<%= Movies.score %>">
          </div>
        </div>

        <hr>
        <div class="row mb-3">
          <label class="form-label">Poster :</label>
          <div class="col-sm-10">
            <img src="<%= Movies.image %>" height="300px" style="object-fit: cover;">
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label">Trailer :</label>
          <div class="col-sm-10">
            <input type="url" class="form-control" name="movies[trailer]" placeholder="<%= Movies.trailer %>"
              value="<%= Movies.trailer %>">
          </div>
        </div>

        <div style="height: 45px;"></div>
        <div class="container-fluid" style="height: 100%; position: relative;">
          <button class="btn btn-warning" type="submit"
            style="height: 50px; width: 100px; bottom: 15px; right: 15px; position: absolute;">Edit</button>
          <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="color: black;">Edit Movies</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black;">
                  Edit <%= Movies.name %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-warning">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <%- include('../partials/footer.ejs') %>