<%- include('../partials/header.ejs') %>


<div class="container-fluid px-1 pt-3" style="height: 70px; background-color: #383a3f;">
    <h4 style="color: white;">
        &emsp; User
    </h4>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<% User.forEach(function(user){ %>
    <div class="col">
    <div class="card" style="width: 18rem; padding-top: 10px;">
        <center><img src="<%= user.picture %>" class="card-img-top" style="width: 150px; height: 150px;" alt="..."></center>
        <div class="card-body">
          <h5 class="card-title"><%= user.priority %></h5>
          <p class="card-text">Username : <%= user.username %></p>
          <div class="text-end mt-2">
            <form action="/user/admin/grant/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-outline-dark" style="width: 200px">Grant Admin</button>
            </form>
            &nbsp;
            <form action="/user/admin/delete/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-outline-dark" style="width: 200px">Delete Account</button>
            </form>
        </div>
        </div>
      </div>
    </div>
<% }); %>
</div>
</div>
</div>


<%- include('../partials/footer.ejs') %>