<%- include('../partials/header.ejs') %>

    <!-- Banner -->

    <div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: #383a3f;">
        &emsp;
        <h5 style="color: white; text-transform: uppercase;">
            <span class="dot" style="background-color: rgb(0, 255, 106); margin-bottom: 1px;"></span>
            &nbsp;PROFILE
        </h5>
    </div>
    <form action="/user/<%= User._id %>" method="POST" enctype="multipart/form-data">
        <div class="container-fluid d-flex flex-row row px-3 pt-4"
            style="height: 360px;">
            &emsp;
            <div class="col-3">
                <img src="<%= User.picture %>" height="250px" width="250px">
                    <div style="width: 250px;">
                        &nbsp;
                        <input type="file" class="form-control" name="image" accept="image/*">
                    </div>
            </div>
            <div class="col container-fluid" style="height: 100%; position: relative;">
                <h5 style="font-size: 45px; color: white; text-transform: uppercase;">
                    <%= User.username %>
                </h5>
                <button type="submit"
                    style="height: 50px; width: 100px; bottom: 15px; right: 15px; position: absolute;">Submit</button>
            </div>
        </div>
    </form>

    <!-- Banner -->

    <div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: #383a3f;">
        &emsp;
        <h5 style="color: white; text-transform: uppercase;">
            <span class="dot" style="background-color: rgb(255, 0, 157); margin-bottom: 1px;"></span>
            &nbsp;favourtie movies
        </h5>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% Movies.likes.forEach(function(liked){ %>
                    <div class="col">
                        <div class="card shadow-sm" style="width: 300px; height: 350px;">
                            <a href="/movie/<%= liked.movies.id %>">
                                <img src="<%= liked.movies.image %>" class="card-img-top" height="400px">
                        </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>



    <%- include('../partials/footer.ejs') %>