<%- include('../partials/header.ejs') %>
<style>
    .user {
        border-radius: 50%;
    }
</style>

    <h1 class="display-5 fw-bold"
    style="text-align: left; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2c2e31; font-size: 35px;  color: rgb(255, 255, 255); padding: 20px;">
    Profile</h1>
    <br />
    <form action="/user/<%= User._id %>" method="POST" enctype="multipart/form-data">
        <div class="container-fluid d-flex flex-row row px-3 pt-4"
            style="height: 360px;">
            &emsp;
            <div class="col-3" style="padding-left: 65px;">
                <img src="<%= User.picture %>" class="user" height="250px" width="250px">
            </div>
            <div class="col container-fluid" style="height: 100%; position: relative;">
                <div class="row mb-3">
                    <h5 style=" text-transform: uppercase;">
                       Name : <%= User.username %>
                    </h5>
                </div>
                <div class="row mb-3">
                    <label class="form-label">Change &nbsp; Photo :</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="image" accept="image/*">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success"
                    style="height: 50px; width: 100px; bottom: 15px; right: 15px; position: absolute;">Submit</button>
            </div>
        </div>
    </form>

    <h1 class="display-5 fw-bold"
    style="text-align: left; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #2c2e31; font-size: 35px; color: rgb(255, 255, 255); padding: 20px;">
    Favourtie Movies</h1>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% Movies.likes.forEach(function(liked){ %>
                    <div class="col">
                        <div class="card shadow-sm" style="width: 300px; height: 350px;">
                            <a href="/movie/<%= liked.movies.id %>">
                                <img src="<%= liked.movies.image %>" class="card-img-top" height="400px">
                        </div>
                        </a>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>



    <%- include('../partials/footer.ejs') %>