<%- include('../partials/header.ejs') %>
  <div class='container'>
    <center>
      <div class="card mb-3" style="max-width: 2000px; max-height: 1000px; padding: 30px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= Movies.image %>" width="350px" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="text-align:left">
              <h5 class="card-title">
                <%= Movies.name %><span> &nbsp;:&nbsp; <%= Movies.runtime %> </span>
              </h5>
              <p class="card-text">
                <%= Movies.desc %>
              </p>
              <iframe width="700" height="400" src="<%= Movies.trailer %>" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </center>

    <div class="container-fluid" style="height: 120px; background-color: rgb(41, 41, 41); position: relative;">
      <div class="row">
        <div class="col container-fluid" style="background-color: rgb(26, 26, 26); height: 120px; position: relative;">
          <h3 class="center" style="color: white;">Reserve</h3>
        </div>
        <div class="col-10 pt-3 px-5">
          
          <% Cinemas.forEach(cinema=> { %>
            &emsp;&emsp;
            <a href="#"><img src="<%= cinema.image %>" style="width: 150px; overflow: hidden;"><% cinema.name %> </a>
            &emsp;&emsp;&emsp;
            <% }); %>
        </div>
      </div>
    </div>

    <form action="/movie/<%= Movies._id %>/comment " method="POST">
      <div class="mb-3">
        <label class="form-label">Comment</label>
        <input type="text" class="form-control" aria-label="comment" name='comment[text]' placeholder='Comment'>
      </div>
      <button type="submit" class="btn btn-primary" value="comment" style="background-color: #45484e; ">Submit</button>
    </form>
    <hr>
    <div class="container">
      <% Movies.comment.forEach(comment=> { %>
        <div class="card card-cover rounded-5 shadow-lg p-2" style=" padding-top: 10px; height: 120px;">
          <p>
            <strong style="color: black;">&nbsp;<%= comment.author.username %></strong>
          </p>
          <% if(!currentUser) {%>
            <% } else if ( currentUser.priority=='admin' ) { %>
              <form action="/movie/<%= Movies._id %>/comment/<%= comment._id %>/?_method=DELETE" method="POST">
                <div class="container-fluid" style="position: relative;">
                  <button type="submit" class="btn btn-danger"
                    style="bottom: 15px; right: 0px; position: absolute; padding-top: 10px;">Delete</button>
                </div>
              </form>
              <% } %>
                &emsp; <%= comment.text %>
                  <p class="pt-3 mb-3 text-end">
                    <%= comment.date %>
                  </p>
        </div>

        <% }); %>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>